{
	"config" : {
		"type" : "doc2vec",
		"documentsSourceFile" : "target/classes/examples/unlabeled",
		"minWordFrequency" : 0,
		"stopWords": ["at", "is"],
		"addDefaultStopWords" : true,
		
		"epochs" : 1,
		"corpusFile" 		: "target/classes/examples/corpus/raw_sentences.txt",
		"windowSize"       : 1,
		"layerSize"        : 1
	}

}